<header class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <img class="logo" src="assets/img/StarWars.svg" alt="Logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="cards" routerLinkActive="active">Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contacto" routerLinkActive="active">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>