<footer class="footer container-fluid bg-dark row justify-content-center m-0">
    <div class="col-md-12 div-title">
        <h3 class="text-white text-center mt-3">Nuestras redes</h3>
    </div>

    <div class="col-md-4 d-flex align-items-center justify-content-around">
        <a href="tel:+5426445987" target="_blank"><i class="fas fa-phone"></i></a>

        <a href="mailto:poyuyo2013@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>

        <a href="https://wa.me/2644123123" target="_blank"><i class="fab fa-whatsapp"></i></a>

        <a href="https://www.instagram.com/folcademy/" target="_blank"><i class="fab fa-instagram"></i></a>

        <a href="https://www.facebook.com/folcademy" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
</footer>