#section-form {
    height: 85vh;
    background-color: #212529;
    background-image: url(../../../../assets/img/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
}

#message,
.div-text {
    height: 100% !important;
}