<section id="section-form" class="container-fluid d-flex align-items-center">
    <div class="container">
        <h2 class="text-white text-center my-5 p-5 fs-2">Contáctanos</h2>

        <form>
            <div class="row align-items-stretch">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Nombre" data-sb-validations="required" data-sb-can-submit="no" required>
                    </div>
                    <div class="form-group  mb-3">
                        <input class="form-control" id="email" type="email" placeholder="Email" data-sb-validations="required,email" data-sb-can-submit="no" required>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Email requerido.</div>
                    </div>
                    <div class="form-group mb-3 mb-md-0">
                        <input class="form-control" id="phone" type="tel" placeholder="Teléfono" data-sb-validations="required" data-sb-can-submit="no" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0 div-text">
                        <textarea class="form-control" id="message" placeholder="Mensaje" data-sb-validations="required" data-sb-can-submit="no" required></textarea>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center m-3">
                <button class="btn btn-primary" type="submit">Enviar formulario</button>
            </div>
        </form>
    </div>

</section>