<section id="home" class="hero">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h2 class="text-light">El momento llegó</h2>
                <h1 class="text-light">Unete al lado oscuro</h1>
                <a class="btn btn-primary text-decoration-none" href="https://starwars.fandom.com/es/wiki/Star_Wars" target="_blank">Unirse</a>
            </div>
        </div>
    </div>
</section>