#section-cards {
    height: 80vh;
}

.div-title {
    text-align: center;
    justify-content: center;
}

.div-title>h2 {
    margin-top: 50px;
}

@media (min-width: 375px) and (max-width: 767px) {
    #section-cards {
        height: 300%;
    }
}

@media (min-width: 768px) and (max-width: 1145px) {
    #section-cards {
        height: 200%;
    }
}