<section id="section-cards">
    <div class="row m-5 div-title">
        <h2 class="fs-1">Disfrute de nuestro diseño de cards</h2>
    </div>
    <div class="container-fluid d-flex justify-content-around align-items-center">
        <div class="row text-center">
            <div class="col-md-3 mx-md-5 mb-5">
                <div class="card h-100  mx-auto" style="width: 18rem;">
                    <img src="assets/img/laser.jpg" class="card-img-top" alt="Avatar">
                    <div class="card-body">
                        <h5 class="card-title">Manejo de sable laser</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde obcaecati possimus esse laborum iste temporibus eaque a ullam praesentium, quas eligendi consequuntur qui similique cum totam quisquam libero voluptatem voluptas!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mx-md-5 mb-5">
                <div class="card h-100  mx-auto" style="width: 18rem;">
                    <img src="assets/img/fuerza.jpg" class="card-img-top" alt="Avatar">
                    <div class="card-body">
                        <h5 class="card-title">Conocimiento de la fuerza</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus magni deserunt necessitatibus unde, expedita commodi sint vitae suscipit eius possimus, facilis animi voluptas vel eaque aspernatur nesciunt corrupti
                            impedit?
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mx-md-5 mb-5">
                <div class="card h-100  mx-auto" style="width: 18rem;">
                    <img src="assets/img/GeneralGrievous.jpg" class="card-img-top" alt="Avatar">
                    <div class="card-body">
                        <h5 class="card-title">Disciplina</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, nulla dignissimos quae ducimus nam hic assumenda aut! Similique consequuntur mollitia vero dolorum autem recusandae asperiores numquam veritatis. Non, dolores illo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>